<section class="content-header">
  <div class="row">
  <div class="col-lg-6">
    <div id="Msg">
      <div class="alert alert-success" role="alert">
        O prêmio foi resgatado com sucesso
      </div>
     </div>
   </div>
  </div>
</section>

<section class="content">
  <div class="box box-primary">
     <div class="box-header with-border">
        <h3 class="box-title">Resgatar prêmio</h3>
      </div><!-- /.box-header -->
   <form role="form">
  <div class="box-body">
    <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-lg-12">
        <div class="input-group">
          <input type="text" name="identificador" id="identificador" placeholder="Informe o CPF ou código do cliente" class="form-control input-lg">
          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" type="button"  onclick="buscaCliente();">Pesquisar</button>
          </span>
        </div>
        <br>
         <input type="hidden" name="clienteempresa" id="clienteempresa">
       </div>
      </div>
    </div>
    </div>

<hr>
 <div id="Div">
     <div class="row">
       <div class="col-lg-4">
         <h4 disabel>Cliente:</h4>
           <i id="nome_cliente"></i>
         </div>
        <div class="col-lg-4">
          <h4 disabel>Código:</h4>
          <i id="codigo_cliente"></i>
        </div>
        <div class="col-lg-4">
          <h4 disabel>Pontos acumulados:</h4>
            <i id="codigo_acomulado"></i> Pts.
        </div>
       <hr>
      </div>

     <hr>

     <div class="row">
         <div class="col-lg-5">
                <label>Prêmio</label>
                   <input type="text" class="form-control input-lg" id="premio" name="premio" placeholder="Pesquise pelo Prêmio">
                   <input type="hidden" name="premio_id"  id="premio_id">
                   <input type="hidden" name="ponto_resgate"  id="ponto_resgate">
         </div>
     </div>
     <hr>
     <div class="row">
        <div class="col-lg-5">
          <button type="button" class="btn btn-success btn-block btn-lg"  onclick="resgata_ponto();" name="button">Resgatar Prêmio</button>
        </div>
     </div>

</div>

<br>
<br>

</div><!-- /.box -->
</form>
</div><!-- /.box-body -->


<!-- Modal -->
<div id="ModalAviso" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aviso</h4>
      </div>
      <div class="modal-body">
        <p>Usuário não tem pontos suficientes para resgatar esse prêmio</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div>

  </div>
</div>
</section>

<script type="text/javascript">

 // $("#nome_cliente").text("Vanessa Freitas Valadão");

$("#Div").hide();
$("#Msg").hide();

 function buscaCliente(){
   $.ajax({
     url: '<%= buscaClientePonto_path %>',
     data : {
       identificador : $("#identificador").val()
     },
     success: function(data){

       for (var i in data) {
         var item = data[i];
          $("#clienteempresa").val(item.id);
          $("#nome_cliente").text(item.nome +" "+ item.sobrenome);
          $("#codigo_cliente").text(item.codigo);
          $("#codigo_acomulado").text(item.qdtPonto);
          $("#valor").removeAttr('disabled');
          $("#Div").show("slow")
       };
     }
   })
 };


 function add_ponto(){

    if($("#valor").val() === ""){
      alert("O campo valor deve ser informado");
      return;
    }
     $.ajax({
       url: '<%= addpontocliente_path %>',
       data : {
         valor : $("#valor").val(),
         id : $("#clienteempresa").val()
       },
       success: function(data){
            $("#codigo_acomulado").text(data.qtd);
            $("#ponto_add").text(data.pontoadd)
            $("#valor").val("");
            $("#Msg").show("slow")
       }
     })

 };


 function resgata_ponto(){
 if ($("#codigo_acomulado").val() >= $("#ponto_resgate").val()){
   $.ajax({
     url: '<%= resgatapremio_path %>',
     data : {
       premio_id : $("#premio_id").val(),
       id : $("#clienteempresa").val()
     },
     success: function(data){
          $("#codigo_acomulado").text(data.qtd);
          $("#ponto_add").text(data.pontoadd)
          $("#valor").val("");
          $("#Msg").show("slow")
     }
   })
 }else{

   $("#ModalAviso").modal();
  // alert("Usuário não tem pontos suficientes para resgatar esse prêmio");
 }



 };

 $(document).ready(function() {
      $('#premio').autocomplete({
      source: '/buscapremio',
      dataType: 'json',
      minLength: 0,
      change: function(event, ui) {
      if (!ui.item) {
        $('#premio').val('');
      }
   },
   select: function(event, ui) {
       if (ui.item) {
             $("#premio_id").val(ui.item.id);
             $("#ponto_resgate").val(ui.item.numr_ponto);
          }
        }
    });
 });

 $(function() {
  $("#valor").maskMoney({showSymbol:true, symbol:"R$", decimal:",", thousands:"."});
})
</script>
