<p id="notice"><%= notice %></p>

<p>
  <strong>Nome regra:</strong>
  <%= @regraponto.nome_regra %>
</p>

<%= link_to 'Edit', edit_regraponto_path(@regraponto) %> |
<%= link_to 'Back', regrapontos_path %>
